*.obj
*.o
*.d
*.lib
*.a
*.elf
*.hex
*.exe
*.dll
*.map
*.ewd
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.tar.gz
*.avrsuo

bin/*.exe
bin/*.dll
bin/*.conf
gnu_arm-eabi/
/include/
libexec/
dbg/
rel/
spy/
settings/

Debug/
Release/
Spy/

lib/
obj/
output/

qspy/doxygen/html/
