*.obj
*.o
*.d
*.lib
*.a
*.elf
*.hex
*.exe
*.dll
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.log
*.csv
*.html
*.zip
*.tar.gz
*.avrsuo
*.vcxproj.user
version-*

.vs/
html/
latex/
test_priv/
bin/*.exe
bin/*.dll
bin/*.conf
bin/qspy
bin/qclean
bin/qfsgen
gnu_arm-eabi/
libexec/
dbg/
rel/
spy/
settings/
share/

Debug/
Release/
Spy/

lib/
obj/
output/

qspy/doxygen/html/
